.text-10 {font-size: 10px}
.text-11 {font-size: 11px}
.text-12 {font-size: 12px}
.text-13 {font-size: 13px}
.text-14 {font-size: 14px}
.text-15 {font-size: 15px}
.text-16 {font-size: 16px}
.text-17 {font-size: 17px}
.text-18 {font-size: 18px}
.text-19 {font-size: 19px}
.text-20 {font-size: 20px}
.text-24 {font-size: 24px}
.text-30 {font-size: 30px}


.margin-t-10{
    margin-top: 10px;
}


.v-align-middle:after{
    content:'';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.v-middle{
    display: inline-block;
    vertical-align: middle;
}